@font-face {
    src: url('../fonts/JosefinSans.ttf');
    font-family: "Josefin";
}

@font-face {
    src: url('../fonts/JosefinSans-Italic.ttf');
    font-family: "Josefin-italic";
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 10px 60px rgba(0,0,0,1);
}

.left-side{
    position: relative;
    width: 600px;
    background-color: #404042;
    padding: 20px 40px;
}

.face_name_surname{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.face{
    width: 200px;
    height: 200px;
}

.name_surname{
    font-family: Josefin-italic;
    color: red;
    text-shadow: 2px 2px 4px darkblue;
    text-align: right;
    margin-top: 30px;
}

.personal_qualities{
    margin-top: 50px;
}

.personal_qualities, .contacts, .knoweledge > h2{
    color: white;
    font-family: Josefin;
    letter-spacing: 4px;
}

.underline{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.red_line{
    height: 10px;
    width: 20%;
    background-color: red;
}

.white_line{
    height: 5px;
    width: 80%;
    background-color: white;
    margin-top: 5px;
}

.qualities-list, .contacts_information, .langs_prog{
    font-family: Josefin;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.contacts_information>ul, .langs_prog>ul{
    padding: 0;
    line-height: 2;
    list-style-type: none;

}

.contact_images{
    margin-right: 15px;
}

.knoweledge-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.langs_prog{
    width: 160px;
}

.underline_skill{
    display: flex;
    flex-direction: row;
    margin-top: 37px;
}

.red_line_skill{
    height: 10px;
    width: 100px;
    background-color: red;
}

.white_line_skill{
    height: 10px;
    width: 100px;
    background-color: white;
}

.right-side{
    width: 900px;
    background-color: #ebebed;
    padding: 30px 60px;
}

.education, .expirience-list, .hobby, .add_information>h1{
    font-family: Josefin;
    color: #6D6552;
}

.education-list, .expirience-list{
    font-size: 20px;
    color: #6D6552;
    font-family: Josefin;
    line-height: 1.5;
    margin-bottom: 50px;
}

.education-list>ul{
    padding: 0;
    list-style-type: none;
}

.education-list>ul>li{
    margin-bottom: 30px;
}

.git_exp{
    display: flex;
    flex-direction: row;
    vertical-align: center;
}

.git_button{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin-top: 17px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: Josefin, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.8) 51%, rgba(0, 0, 0, 0.8) 100%);
    background-size: 200% auto;
    transition: .5s;
}

.git_button:hover{
    background-position: right center;
}

.hobby{
    margin-bottom: 50px;
}

.hobby-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hobby_list_games, .hobby_list_books, .hobby_list_cycling, .hobby_list_gym, .hobby_list_swimming{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hobby_list_games, .hobby_list_books, .hobby_list_cycling, .hobby_list_gym, .hobby_list_swimming, .driving_licence > p{
    font-size: 20px;
    color: #6D6552;
    font-family: Josefin;
    line-height: 1.5;
}

.driving_licence{
    display: inline-flex;
}

.driving_licence > p{
    margin-left: 30px;
}

