@font-face {
    src: url('../fonts/JosefinSans.ttf');
    font-family: "Josefin";
}

@font-face {
    src: url('../fonts/JosefinSans-Italic.ttf');
    font-family: "Josefin-italic";
}

body{
    max-width: 1500px;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 10px 60px rgba(0,0,0,1);
}

.left-side{
    position: relative;
    width: 600px;
    background-color: #404042;
    padding: 20px 40px;
}

.face_name_surname{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.face{
    width: 200px;
    height: 200px;
}

.name_surname{
    font-family: Josefin-italic;
    color: red;
    text-shadow: 2px 2px 4px darkblue;
    text-align: right;
    margin-top: 30px;
}

.personal_qualities{
    margin-top: 50px;
}

.personal_qualities, .contacts, .knoweledge > h2{
    color: white;
    font-family: Josefin;
    letter-spacing: 4px;
}

.underline{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.red_line{
    height: 10px;
    width: 20%;
    background-color: red;
}

.white_line{
    height: 5px;
    width: 80%;
    background-color: white;
    margin-top: 5px;
}

.qualities-list, .contacts_information, .langs_prog{
    font-family: Josefin;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.contacts_information>ul, .langs_prog>ul{
    padding: 0;
    line-height: 2;
    list-style-type: none;

}

.contact_images{
    margin-right: 15px;
}

.knoweledge-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.langs_prog{
    width: 160px;
}

.underline_skill{
    display: flex;
    flex-direction: row;
    margin-top: 37px;
}

.red_line_skill{
    height: 10px;
    width: 100px;
    background-color: red;
}

.white_line_skill{
    height: 10px;
    width: 100px;
    background-color: white;
}

.right-side{
    height: 1000px;
    width: 900px;
    background-color: #ebebed;
}